<footer class="footer bg-gray py-3 mt-auto">
    <div class="container text-center mb-5" style="width:50%;">
        <span class="text-dark">We respect your privacy. Your videos are automatically deleted from our data base after analysis is complete.</span>
        <br><span class="text-muted">&copy; SmartlySurf 2021</span>
    </div>
</footer>