<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid" style="position:fixed;display:contents;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-5">
                <a class="nav-link" href="/"><span class="navbar-text text-end text-info font-weight-bold" style="font-size: 20px;">Home</span></a>
                <a class="nav-link" href="/campgrounds"><span class="navbar-text text-end text-dark" style="font-size: 20px; padding-left: 12px;">Activity</span></a>
                <a class="nav-link" href="/campgrounds/new"><span class="navbar-text text-end text-dark" style="font-size: 20px; padding-left: 12px;">Logout</span></a>
                <a class="nav-link" href="/campgrounds/new"><span class="navbar-text text-end text-dark" style="font-size: 20px; padding-left: 12px;">Record</span></a>
            </div>
        </div>
        <a href="home.ejs" class="mr-5" style="display: in-line block; float:right; "><img src="../../public/images/logo.png" alt="Logo" id="logo" width="170vw"></a>
    </div>
</nav>