<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartlySurf</title>
    <link rel="style" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>

<body class="d-flex flex-column vh-100">
    <div class="container">
        <img src="public/image/background.png">
    </div>
    <div class="first">
        <h1>Hello Joe,</h1>
        <h3>click the button below and start bowsing websites! Leave the work to us :D </h3>
        <button class="btn"><a href="recording.ejs">Start Record</a></button>
    </div>

</body>

</html>