<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="first" style="text-align: center; position:relative">
        <div id="intro">
          <section>
            <h1>Hello,</h1>
            <h3>click the button below and start <br>bowsing websites! Leave the work to us :D </h3>
          </section>
          <br>
        </div>
        <div>
            <div>
              <form action="/record">
                <button id="record">Start!!</button>
              </form>
            </div>
             <div>
               <br>
              <span id="remind">Once we begin, we will have access to your <br>camera to detect your facial expression.</span>
            </div>
          </div>
    </div>

</div>