<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="first" style="text-align: center; position:relative">
        <div id="intro">
        <h1>Hello Joe,</h1> <br>
        <h3>click the button below and start <br>bowsing websites! Leave the work to us :D </h3>
        </div>
    
        <div>
            <video id="gum" playsinline autoplay muted></video>
            <video id="recorded" playsinline loop></video>
            <div>
              <div><button id="record">Start Monitoring</button></div>
             </div>
             <div>
              <span id="remind">Once begin, we will have access to your <br>camera to detect your facial expression.</span>
              <!--<button id="test">Start test</button>-->
            </div>
            <div>
              <span id="errorMsg"></span>
            </div>
            <div>
              <span id="saved"></span>
            </div>
          </div>
          <script src="../../public/js/record.js"></script>
    </div>

</div>