<% layout('layouts/boilerplate')%>
<div class="container">
    <img src="../public/images/background.png">
</div>
<div class="first">
    <h1>Hello Joe,</h1>
    <h3>click the button below and start bowsing websites! Leave the work to us :D </h3>
    <button class="btn"><a href="/record">Start Record</a></button>
</div>