<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="first" style="text-align: center; position:relative">
        <div id="intro" class="firstwords">
          <section>
            <h1>Hello,</h1>
            <h3>click the button below and start <br>bowsing websites! Leave the work to us :D </h3>
          </section>
          <br>
        </div>
        <div>
            <div class="start">
              <form action="/record">
                <button id="record">Start!</button>
              </form>
            </div>
          </div>
    </div>

</div>