<% layout('layouts/boilerplate')%>
<div id="container">
  <video id="gum" playsinline autoplay muted></video>
  <video id="recorded" playsinline loop></video>
  <div>
    <button id="record">Start Monitoring</button>
    <!--<button id="test">Start test</button>-->
  </div>
  <div>
    <span id="errorMsg"></span>
  </div>
  <div>
    <span id="saved"></span>
  </div>
</div>
<script src="../../public/js/record.js"></script>