<div class="container">
    <div>
        <div class="form-container sign-up-container">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn">Login</button>
                    <button type="button" class="toggle-btn">Signup</button>
                </div>
            </div>  
            <form id="login" class="input-group" action="#">
                <input type="text" class="input field" placeholder="Username" required>
                <input type="text" class="input field" placeholder="Password" required>
                <input type="checkbox" class="check-box"><span>Remember me for 30 days</span>
                <button type="submit" class="submit-btn">Login</button>
              </form>
              <form id="signup" class="input-group" action="#">
                <input type="text" class="input field" placeholder="Full Name" required>
                <input type="emai;" class="input field" placeholder="Email" required>
                <input type="text" class="input field" placeholder="Username" required>
                <input type="text" class="input field" placeholder="Password" required>
                <input type="checkbox" class="check-box"><span>I agree to the Terms & Conditions</span>
                <button type="submit" class="submit-btn">Signup</button>
              </form>
          </div>
    </div>

</div>