<% layout('layouts/boilerplate')%>

<canvas id="chartx" width="200" height="200"></canvas>
<script>
var ctx = document.getElementById('chartx').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%-JSON.stringify(data["emotions"]);%>,
        datasets: [{
            label: "skldjlk",
            data: [12, 19, 3, 5, 2, 3, 7],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(25, 109, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(25, 109, 64, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
 
<!--<h1>Usage Statistics</h1>
<% for (let dict of data){%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <span>text</span>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= dict.url %> </h5>
                <p class="card-text"><%= dict.time %></p>
            </div>
        </div>
    </div>
</div>
<% }%>-->