body {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  padding-left: 6%;
  padding-right: 6%;
}

.first {
  margin-left: 4vh;
}

.but {
  border: solid #f23869;
  background-color: #f23869;
  color: white;
  font-size: large;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
}

button{
    background-color: #A0BFFF;
    color : #FFFFFF;
    border: 2px solid;
    border-radius: 1em;
    padding: 0.5em 1.3em;
    border-color: #D8F2FF;
    transition: all 0.2s ;
}

button:hover{
  border-color: #1b5572;
  color: #1b5572;
  box-shadow: 0 0.2em 0.2em -0.2em #320f44;
  transform: translateY(-0.25em);
}

footer {
  margin-top: auto;
}
