.container {
  height: 100vh;
  width: 100%;
}

.first {
  width: 865px;
  height: 394px;
  left: 232px;
  top: 127px;
  margin-left: 4vh;
}

.btn {
  background-color: #7ca7ff;
  border-style: solid #7ca7ff;
  border-radius: 10%;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 519px;
  top: 391px;
}
